.containerHero {
  padding: 0 3rem;
}

.heroBanner {
  background-color: var(--color-main-background);
  padding-top: 0em;
  padding-bottom: 4em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
}
